.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

        .demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
}

