<div class="row">
    <div class="col-sm-6 col-md-4 mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Meyespace</h2>
        </div>
        <div class="mdl-card__supporting-text">
            Meyespace is available for download. Click the link below to get the installer.
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/assets/installer/Meyespace setup.exe">
      View Updates
    </a>
        </div>
    </div>
</div>