<div class="container">
    <div class="row" align="middle" style="margin-top:50px;">
        <div class="col-sm-6 col-md-4 vcenter">
            <div class=" mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Search for other users</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    The minimum lenght is 3 characters.
                </div>
                <input type="text" name="searchBox" id="searchBox" #searchBox (keyup)="getUsersBySearchTerm(searchBox.value)">
                <div class="mdl-card__actions mdl-card--border">

                    <table class=" mdl-shadow--2dp" >
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="results.length > 0 && searchBox.value.length >= 3">
                            <tr *ngFor="let entry of results">
                                <td>{{entry.username}}</td>
                                <td *ngIf="entry.type === 'stranger'" (click)="addFriend(entry.username)"><i class="mdl-color-text--blue-grey-400 material-icons" style="cursor:pointer">add_circle</i></td>
                                <td *ngIf="entry.type === 'friend'" (click)="removeFriend(entry.username)"><i class="mdl-color-text--blue-grey-400 material-icons" style="cursor:pointer">remove_circle</i></td>
                                <td *ngIf="entry.type === 'sent'" (click)="rewokeFriend(entry.username)"><i class="mdl-color-text--blue-grey-400 material-icons" style="cursor:pointer">remove_circle</i></td>
                                <td *ngIf="entry.type === 'received'"> <span (click)="acceptFriend(entry.username)"> <i  class="mdl-color-text--blue-grey-400 material-icons" style="cursor:pointer">add_circle</i></span>                                    or <span (click)="rejectFriend(entry.username)"><i  class="mdl-color-text--blue-grey-400 material-icons" style="cursor:pointer">remove_circle</i></span></td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="searchBox.value.length < 3">
                            <tr>
                                <td>Characters to enter:</td>
                                <td>{{ 3 - searchBox.value.length}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="results.length === 0 && searchBox.value.length >= 3">
                            <tr>
                                <td>No Results found</td>
                                <td>Try something else</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>