<div class="container">

    <div class="row" style="margin-top:50px;">

        <div class="col-sm-6 col-md-4">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Stat</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of total_stats">
                        <td class="mdl-data-table__cell--non-numeric">{{entry.statname}}</td>
                        <td>{{entry.score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6 col-md-4">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Stat</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of onelife_stats">
                        <td class="mdl-data-table__cell--non-numeric">{{entry.statname}}</td>
                        <td>{{entry.score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6 col-md-4">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Stat</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let entry of onegame_stats">
                        <td class="mdl-data-table__cell--non-numeric">{{entry.statname}}</td>
                        <td>{{entry.score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>