/* You can add global styles to this file, and also import other style files */

/**/
a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
}


html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.demo-avatar {
  width: 200px;
  height: 151px;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;  
}
.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 20px;
  height: 201px;
}

.demo-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.demo-layout .demo-navigation  .mdl-navigation__link:hover {
  background-color: #424242;
  border-left: thick solid #ff0000;
}
.demo-navigation .mdl-navigation__link .material-icons {
  
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.rank_list {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.56);
  padding-left:60px;
  margin-bottom:0px;
}

.global_local_header {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.56);
  margin-bottom: 0px;
}

.floating-box {
    display: inline-block;  
}


.global__points {
    border-radius: 5px 10px;
    background: #4b7214;
    width: 45px;
    height: 23px; 
    font-size: 12px;
    text-align: center;
    margin-left:10px;
}


.demo-content {
  max-width: 1080px;
}

.demo-card-wide.mdl-card {
  width: 512px;
}